*
{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial;
}

html 
{
  background-color: #eeeeee;
  width : 960px;
  margin: 0 auto;
}

body
{
	background: #ffffff;
	border: 2px solid #000000;
	border-radius: 15px;
	width : 960px;
	margin: 20px auto;
}

#divPortail
{
	width: 400px;
	height: 230px;
	margin: 125px auto;
	border : 2px solid #000000;
	border-radius: 15px;
	background: #FFFFFF;
}

.title
{
	background: #000000;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px 10px 0 0;
	padding: 5px;
}

.sousTitle
{
	background: #dddddd;
	color: #555555;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}

/*---login.xhtml---*/
.labelPortail
{
	display: block;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 10px auto 0px auto;
	padding: 2px;
}
.inputPortail
{
	color: #000000;
	font-size: 18px;
	text-align: center;
	margin: auto;
	padding: 2px;
	border: 1px solid #dedede;
	background: #fefefe;
}
.buttonConnexion
{
	display: block;
	background: #dddddd;
	border: 1px solid #000000;
	color: #000000;
	font-size: 18px;
	text-align: center;
	margin: 10px auto;
	padding: 3px 10px;
	border-radius: 5px;
}
/*---login.xhtml---*/

.labelForm
{
	display: block;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	margin: 10px auto 0px auto;
	padding: 7px 20px 7px 100px;
}

.inputForm
{
	display: block;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #dedede;
	background: #fefefe;
}

#blocLabels
{
	float:left;
	display: inline-block;
	width: 400px;
	padding: 9px 0;
}

#blocInputs
{

	display: inline-block;
	width: 470px;
	padding: 20px 0;
}
